html{
    height:100%;
    
}



#navbar {
    display:grid;
    grid-template-columns:50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images apps userProfile";
    font-size: 13px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
#about{
    grid-area: about ;
    justify-self: center;
    align-self: center;
}
#store{
    grid-area: store ;
    justify-self: center;
    align-self: center;
}
#gmail{
    grid-area: gmail ;
    justify-self: center;
    align-self: center;
}
#images{
    grid-area: images ;
    justify-self: center;
    align-self: center;
}
#apps{
    grid-area: apps ;
    justify-self: center;
    align-self: center;
}
#userProfile{
    grid-area: userProfile ; 
    justify-self: center;
    align-self: center;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
}

#logo{
    
}   
#search{
    
}
#google-search-button{
    
}
#random-search{
 
}
#buttonContainer{
    display:flex;
    padding: 30px;
  
    
}

footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    color: #70757a;
    font-size: 14px;
    font-family: arial;
  
}